REDIS_URL=redis://localhost:6379
QUEUE_NAME={{ cookiecutter.queue_name }}
SMTP_HOST={{ cookiecutter.smtp_host }}
SMTP_PORT={{ cookiecutter.smtp_port }}
SMTP_USER=
SMTP_PASSWORD=
SMTP_USE_TLS=False
EMAIL_FROM={{ cookiecutter.email_from }}
